<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>

<!--   <body ng-controller="StoreController as store" ng-app="gemStore">  -->  
  <body ng-app="app">  
    <div class="container">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">Voluntariapp</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav navbar-right">           
            <li><a href="#fakelink">Mensajes<span class="navbar-unread">1</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido Seba <b class="caret"></b></a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Mi perfil</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar sesion</a></li>
              </ul>
            </li>
            <li><a class="btn btn-embossed btn-primary" href="#fakelink">Ingresa</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <div ng-controller="app as app">
        <div ng-repeat="product in app.products">
          <img ng-src="{{ product.images[0] }}"/>
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <strong>{{ product.price | currency }}</strong>
          <hr/>
        </div>
      </div>


  <!-- home -->

<div class="row demo-samples">
        <div class="col-xs-4">
          <div class="todo">
            <div class="todo-search">
              <input class="todo-search-field" type="search" value="" placeholder="Search">
            </div>
            <ul>
              <li class="todo-done">
                <div class="todo-icon fui-user"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Meet <strong>Adrian</strong> at <strong>6pm</strong>
                  </h4>
                  Times Square
                </div>
              </li>
              <li class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Chat with <strong>V.Kudinov</strong>
                  </h4>
                  Skype conference an 9 am
                </div>
              </li>
              <li>
                <div class="todo-icon fui-eye"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Watch <strong>Iron Man</strong>
                  </h4>
                  1998 Broadway
                </div>
              </li>
              <li>
                <div class="todo-icon fui-time"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Fix bug on a <strong>Website</strong>
                  </h4>
                  As soon as possible
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- /todo list -->

        <div class="col-xs-8 demo-video">
          <!--[if !IE]> -->
            <div id="vjs_video_4" class="video-js vjs-paused vjs-controls-enabled vjs-user-inactive" style="width: 620px; height: 349px;"><video class="vjs-tech" preload="auto" poster="images/video/poster.jpg" data-setup="{}" id="vjs_video_4_html5_api">
              <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
              <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
            </video><div></div><div class="vjs-poster" tabindex="-1" style="background-image: url(file:///Users/sebaduran/Downloads/Flat-UI-master/images/video/poster.jpg);"></div><div class="vjs-text-track-display"></div><div class="vjs-loading-spinner" style="display: none;"></div><div class="vjs-big-play-button" aria-live="polite" tabindex="0" aria-label="play video"><span aria-hidden="true"></span></div><div class="vjs-control-bar"><div class="vjs-play-control vjs-control " aria-live="polite" tabindex="0"><div class="vjs-control-content"><span class="vjs-control-text">Play</span></div></div><div class="vjs-current-time vjs-time-controls vjs-control"><div class="vjs-current-time-display" aria-live="off"><span class="vjs-control-text">Current Time </span>0:00</div></div><div class="vjs-time-divider"><div><span>/</span></div></div><div class="vjs-duration vjs-time-controls vjs-control"><div class="vjs-duration-display" aria-live="off"><span class="vjs-control-text">Duration Time </span>0:29</div></div><div class="vjs-remaining-time vjs-time-controls vjs-control"><div class="vjs-remaining-time-display" aria-live="off"><span class="vjs-control-text">Remaining Time </span>-0:29</div></div><div class="vjs-progress-control vjs-control"><div aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="vjs-progress-holder vjs-slider" aria-label="video progress bar" aria-valuetext="0:00"><div class="vjs-load-progress" style="width: 36.66%;"><span class="vjs-control-text">Loaded: 0%</span></div><div class="vjs-play-progress" style="width: 2.37%;"><span class="vjs-control-text">Progress: 0%</span></div><div class="vjs-seek-handle vjs-slider-handle" style="left: 0%;"><span class="vjs-control-text">00:00</span></div></div></div><div class="vjs-fullscreen-control vjs-control " aria-live="polite" tabindex="0"><div class="vjs-control-content"><span class="vjs-control-text">Fullscreen</span></div></div><div class="vjs-volume-control vjs-control"><div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="vjs-volume-bar vjs-slider" aria-label="volume level" aria-valuetext="100%"><div class="vjs-volume-level" style="width: 100%;"><span class="vjs-control-text"></span></div><div class="vjs-volume-handle vjs-slider-handle" style="left: 100%;"><span class="vjs-control-text">00:00</span></div></div></div><div class="vjs-mute-control vjs-control" aria-live="polite" tabindex="0"><div><span class="vjs-control-text">Mute</span></div></div><div class="vjs-subtitles-button vjs-menu-button vjs-control " aria-live="polite" tabindex="0" aria-haspopup="true" role="button" aria-label="Subtitles Menu" style="display: none;"><div class="vjs-control-content"><span class="vjs-control-text">Subtitles</span></div><div class="vjs-menu"><ul class="vjs-menu-content"><li class="vjs-menu-item vjs-selected" aria-live="polite" tabindex="0" aria-selected="true">subtitles off</li></ul></div></div><div class="vjs-captions-button vjs-menu-button vjs-control " aria-live="polite" tabindex="0" aria-haspopup="true" role="button" aria-label="Captions Menu" style="display: none;"><div class="vjs-control-content"><span class="vjs-control-text">Captions</span></div><div class="vjs-menu"><ul class="vjs-menu-content"><li class="vjs-menu-item vjs-selected" aria-live="polite" tabindex="0" aria-selected="true">captions off</li></ul></div></div><div class="vjs-chapters-button vjs-menu-button vjs-control " aria-live="polite" tabindex="0" aria-haspopup="true" role="button" aria-label="Chapters Menu" style="display: none;"><div class="vjs-control-content"><span class="vjs-control-text">Chapters</span></div><div class="vjs-menu"><ul class="vjs-menu-content"></ul><li class="vjs-menu-title">Chapters</li></div></div></div></div>
          <!-- <![endif]-->

          <!--[if IE]>
            <video class="video-js" controls preload="auto" width="620" height="256" poster="http://video-js.zencoder.com/oceans-clip.jpg" data-setup="{}">
              <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'/>
              <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'/>
            </video>
          <![endif]-->
        </div> <!-- /video -->
      </div>

  

  <!-- end home -->




    </div>



  <!-- register -->
    <div class="login">
      <div class="login-screen">
        <div class="login-form">
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Ingresa tu Rut ejemplo: 16.709.859-2" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Clave de 4 digitos" id="login-pass">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
          <a class="btn btn-primary btn-lg btn-block" href="#">Ingresar</a>
          <a class="login-link" href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </div>
  <!-- end register -->

  <!-- register -->
    <div class="login">
      <div class="login-screen">
        <div class="login-form">
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Tu nombre" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>          
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Tu apellido" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>          
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="E-mail" id="login-name">
            <label class="login-field-icon fui-mail" for="login-name"></label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Clave de 4 digitos" id="login-pass">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
          <a class="btn btn-primary btn-lg btn-block" href="#">Registrate</a>
        </div>
      </div>
    </div>
  <!-- end register -->

  </body>
    <script src="lib/interface/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="lib/interface/jquery.ui.touch-punch.min.js"></script>
    <script src="lib/interface/bootstrap.min.js"></script>
    <script src="lib/interface/bootstrap-select.js"></script>
    <script src="lib/interface/bootstrap-switch.js"></script>
    <script src="lib/interface/flatui-checkbox.js"></script>
    <script src="lib/interface/flatui-radio.js"></script>
    <script src="lib/interface/jquery.tagsinput.js"></script>
    <script src="lib/interface/jquery.placeholder.js"></script>
    <script src="lib/interface/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="lib/interface/application.js"></script>
</html>